{% extends "::base.html.twig" %}

{% block stylesheets %}
    <style>
        h1{
            text-align: center;
        }
        .member-container p{
            font-size: 2vw;
            padding:1vw;
            font-weight: 800;
            font-family: Arial sans-serif;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="page_title" id="page_title">
        <h1> Упс... Ошибка 404 страница не найдена!</h1>
    </div>


{% endblock %}

