{% extends "::base.html.twig" %}

{% block body %}
    <div class="page_title" id="page_title">
        <h1> Страница участника </h1>
    </div>
    <article>
        <div class="container member-container">
            <p>Имя участника: {{ member.name }}</p>
            <p>Фамилия учасника: {{ member.lastName }}</p>
            <p>Краткая характеристика: {{ member.about }} </p>
        </div>
    </article>

{% endblock %}


