body{
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 4vw;
}
.link-track-item{
    text-decoration: none;
    color: #000000;
}
.track-item-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border:1px solid #000000;
}
.track-item-container .field{
    width:6vw;
    border-right: 1px solid #000000;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.track-item-container .field p{
    font-size: 2vw;
}
.track-item-container .field a{
    font-size: 1.5vw;
    text-decoration: underline;
    color:blue;
    display: block;
}
.track-item-container .field a:hover{
    color:#000000;
}
.track-item-container .field:last-child{
    border-right:0;
}
.track-item-container .field-track{
    width:58vw;
    text-align: left;
    padding-left: 2vw;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.track-item-container .field-date{
    width:11vw;
}
.track-item-container .field-difficult{
    width:11vw;

}
.track-item-container .field-members{
    width:12vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.2vw;

}
.check-form{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.track-container p{
    font-size: 2vw;
    padding:1vw;
    font-weight: 800;
    font-family: Arial sans-serif;
}

.member-container p{
    font-size: 2vw;
    padding:1vw;
    font-weight: 800;
    font-family: Arial sans-serif;
}
.add-new-member-link{
    width:300px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
form{
    width: 60vw;
    min-width: 400px;
    background: #666666;
    margin: 0 auto;
    padding: 2vw;
}
textarea{
    resize:none;
    height: 150px;
}
form div{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top:10px
}
label{
    width: 150px;
}
form>div{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin:0;
}
.form-field{
    width: 30vw;
}
.check-form{
    background: #fff;
    font-size: 2.3vw;
}
.add-track-btn{
    font-size: 2vw;
}
