{#{% extends "::base.html.twig" %}#}


{#{% block body %}#}
    <div class="page_title" id="page_title">
        <h1> Добавить учасников в маршрут </h1>
    </div>
    {{ form(membersToTrack) }}
    {#{{ dump(members) }}#}
{#{% endblock %}#}

