{% extends "::base.html.twig" %}

{% block body %}
    <div class="page_title" id="page_title">
        <h1> Добавить нового учасника </h1>
    </div>
    {{ form(form_add_member) }}
    {#{{ dump(form_add_blog) }}#}
{% endblock %}

