{#{% extends "::base.html.twig" %}#}

{% block stylesheets %}

{% endblock %}

{#{% block body %}#}
    <div class="page_title" id="page_title">
        <h1> Добавить учасников в маршрут </h1>
    </div>
    {{ form(member_to_track) }}
    <a class="add-new-member-link" href="{{ path('add_member') }}">Добавить нового участнику в базу</a>

    {#{{ dump(members) }}#}
{#{% endblock %}#}

