{% extends "::base.html.twig" %}
{% block body %}
<div class="page_title" id="page_title">
    <h1> Все статьи блога </h1>
</div>
    {% for blog in blogs %}
    <article>
        <h2>
            {{ blog.title }}
        </h2>
        <div class="field field-body-summary">
            <h3>
                {{ blog.summary }}
            </h3>
        </div>
        <nav role="navigation">
            <ul>
                <li class="read-more">
                    <a href="{{ path('blog_view', {'id' : blog.id}) }}">Читать статью</a>
                </li>
            </ul>
        </nav>
    </article>
    {% endfor %}
    {#{{ dump(blogs) }}#}
{% endblock %}

